<div class="row">
  <div class="col-4"></div>
  <div class="col-4">
    <form>
      <div class="form-group row">
        <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
          <input type="email" class="form-control" [(ngModel)]="inputEmail" name="email" placeholder="Email">
      </div>
      <div class="form-group row">
        <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
          <input type="password" class="form-control" [(ngModel)]="inputPassword" name="password" placeholder="Password">
      </div>
      <p>
      <ngb-alert *ngIf="errorMessage" type="warning" (close)="errorMessage = null">{{ errorMessage }}</ngb-alert>
      </p>
      <div class="form-group row">
          <button type="submit" class="btn btn-primary" (click)="onLogin()">Login</button>
      </div>
    </form>
    
  </div>
  <div class="col-4"></div>
</div>
