<!--<p>
  <md-card>
    <md-input-container>
      <input mdInput placeholder="Stream Token" type="text" [(ngModel)]="tokenInput" name="streamToken">
    </md-input-container>
    <button md-raised-button color="primary" (click)="setupStream()">START</button>
  </md-card>
</p>
<p>
  <md-card>
    <div id="video-container">
      <video id="red5pro-subscriber"></video>
   </div>
  </md-card>
</p>-->

<div class="row">
  <div class="col-4">
    <div class="card">
      <div class="card-block">
        <h4 class="card-title">Stream Title</h4>
        <h6 class="card-subtitle mb-2 text-muted">5 min 25 secs</h6>
        <p class="card-text">Customer name: John Dick, Ended on: 22n July, 9:30PM</p>
        <a href="#" class="card-link">View</a>
      </div>
    </div>

    <div class="card">
      <div class="card-block">
        <h4 class="card-title">Stream Title <span class="badge badge-primary">Live</span></h4>
        <h6 class="card-subtitle mb-2 text-muted">*</h6>
        <p class="card-text">Customer name: John Dick, Ended on: 22n July, 9:30PM</p>
        <a href="#" class="card-link">View</a>
      </div>
    </div>
  </div>
</div>
